* {
    padding: 0;
    margin: 0;
}

:root {
    --colorfondoprincipal: rgb(176, 199, 195);
    --fuenteprincipal: 'Times New Roman', Times, serif;
    --colorfondonavegador: rgb(255, 255, 255);
    --colorborde: rgb(163, 173, 200);
    --colorfuente: rgb(64, 70, 88);
    --colorfuentenavegador: white;
    --colorfondohover: aquamarine;
    --fuentetitulos: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--colorfondoprincipal);
    font-family: var(--fuenteprincipal);
}

nav {
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color: var(--colorfondonavegador);
    border-bottom: 1px solid var(--colorborde);
}

nav a img {
    width: 50px;
    float: left;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-top: 30px;
}

ul li a {
    margin: 0px 25px;
    text-decoration: none;
    color: var(--colorfuente);
    padding: 2px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    transition: all ease-out 300ms;
}

ul li a:hover {
    color: var(--colorfuentenavegador);
    background-color: var(--colorfondohover);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1 {
    font-weight: 400;
    text-align: center;
}

h2 {
    text-align: center;
    border-bottom: 1px solid var(--colorborde);
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuentetitulos);
    font-size: 20pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

#contenido {
    color: var(--colorfuente);
    padding: 100px 20%;
}

.elemento {
    margin-top: 30px;
    background-color: var(--colorfuentenavegador);
    padding: 20px;
    border-radius: 7px;
    margin-bottom: 100px;
}

.elemento ul li {
    margin: 7px;
}

.elemento p {
    margin-top: 15px;
}

#contenedor {
    display: grid;
    grid-template-columns: 23% 24% 24% 23%;
    grid-template-rows: auto;
    grid-gap: 20px;
    border-top: 1px solid var(--colorborde);
    border-left: 1px solid var(--colorborde);
}

#contenedor div {
    color: var(--colorfuente);
    text-align: center;
}

#contenedor2 {
    display: grid;
    grid-template-columns: 23% 24% 24% 23%;
    grid-template-rows: auto;
    grid-gap: 20px;
    border-top: 1px solid var(--colorborde);
    border-left: 1px solid var(--colorborde);
}

#contenedor2 div {
    color: var(--colorfuente);
    text-align: center;
    margin-left: -10px;
}

footer {
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: var(--colorfuentenavegador);
    border-top: 1px solid var(--colorborde);
}